@import 'variables';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,*:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.8rem;
}

img {
  display: block;
  max-width: 100%;
}

a:hover,a:focus {
  text-decoration: none;
}

button:focus, button.btn.btn-default:focus {
  outline: none;
}
.clear {
  clear: both;
}

.max-width {
  max-width: $app-max-width;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::selection {
    background: transparent;
  }
}
.bold {
  font-weight: bold;
}

button, button.btn, a, a.btn {
  border-radius: $border-radius;
  line-height: $buttons-height;
  margin-top: $nav-padding;
  min-width: $nav-buttons-width;
  padding-bottom: 0;
  padding-top: 0;
  //height: $buttons_height;
}

input.form-control {
  border-radius: $border-radius;
  height: $buttons-height;
}

.no-margin {
  margin: 0;
}
