html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.8rem;
}

img {
  display: block;
  max-width: 100%;
}

a:hover,a:focus {
  text-decoration: none;
}

button:focus, button.btn.btn-default:focus {
  outline: none;
}
.clear {
  clear: both;
}

.max_width {
  max-width: $app_max_width;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::selection {
    background: transparent;
  }
}
.bold {
  font-weight: bold;
}

button, button.btn, a, a.btn {
  min-width: $nav_buttons_width;
  margin-top: $nav_padding;
  padding-top: 0;
  padding-bottom: 0;
  line-height: $buttons_height;
  //height: $buttons_height;
  border-radius: $border_radius;
}

input.form-control {
  height: $buttons_height;
  border-radius: $border_radius;
}

.no_margin {
  margin: 0;
}