@mixin back-image($image,
  $height:100vh,
  $gradient-start: rgba(0,0,0,.2),
  $gradient-end: rgba(0,0,0,.5),
  $background-position: 'center center') {
  background: linear-gradient(to bottom, $gradient-start, $gradient-end), url($image);
  background-repeat: no-repeat;
  background-position: $background-position;
  background-size: cover;
  height: 100vh;
  max-height: $height;
}