$app-max-width: 960px;
$border-radius:1px;
$test-border-color: #efefef;
$test-border: $border-radius solid $test-border-color;


//loader
$loader-width:100px;
$loader-height: $loader-width;
$loader-padding:50px;

//header
$header-height:40px;
$header-padding:10px;

//nav
$nav-height:60px;
$nav-padding:10px;
$nav-buttons-width:80px;

//section
$section-min-height:200px;
$section-padding:10px;
$section-margin:20px;

//product
$product-width: 300px;
$product-height: $product-width;
$product-margin: 5px;
$product-description-padding: 5px;
$product-title-height:50px;
$product-hover-color: #efefef;

//comments
$comment-height:40px;
$comment-margin:10px;
$comment-padding-top:10px;
$max-comments-width:600px;
$rate-height:40px;
$rate-width:60px;


//colors
$alert:#c0392b;
$success:#27ae60;

//buttons
$buttons-width: 100px;
$buttons-height: 40px;

//forms
$forms-margin:10px;
$forms-width:400px;
$forms-alert-color:$alert;

// warning
$warning-font-size:14px;
$warning-width:300px;
$warning-height: $buttons-height;
