html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 1.8rem; }

img {
  display: block;
  max-width: 100%; }

a:hover,
a:focus {
  text-decoration: none; }

button:focus,
button.btn.btn-default:focus {
  outline: none; }

.clear {
  clear: both; }

.max-width {
  max-width: 960px; }

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .noselect::selection {
    background: transparent; }

.bold {
  font-weight: bold; }

button,
button.btn,
a,
a.btn {
  border-radius: 1px;
  line-height: 40px;
  margin-top: 10px;
  min-width: 80px;
  padding-bottom: 0;
  padding-top: 0; }

input.form-control {
  border-radius: 1px;
  height: 40px; }

.no-margin {
  margin: 0; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

header {
  border-bottom: 1px solid #efefef;
  margin: 0 auto;
  min-height: 40px;
  padding: 10px; }
  header .header-text {
    float: left;
    line-height: 20px; }

#content {
  margin: 20px auto;
  min-height: 200px; }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .products .error {
    color: #c0392b; }
  .products .product {
    border: 1px solid #efefef;
    color: inherit;
    cursor: pointer;
    height: 300px;
    margin: 5px;
    width: 300px; }
    .products .product img {
      height: 250px;
      margin: 5px auto; }
    .products .product .product-title {
      height: 40px;
      line-height: 40px;
      position: absolute;
      text-align: center;
      width: 300px; }
    .products .product:hover {
      background: #efefef; }

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .product-details .title {
    width: 50%; }
    .product-details .title img {
      margin: 0 auto; }
  .product-details .description {
    padding: 5px;
    width: 50%; }
  .product-details .reviews-container {
    margin: 0 auto;
    max-width: 600px; }
  .product-details .review {
    margin-top: 10px;
    width: 100%; }
    .product-details .review .list-group-item {
      border-radius: 1px;
      margin: 10px auto;
      max-width: 600px; }
    .product-details .review .text {
      margin: 0;
      padding: 5px;
      word-wrap: break-word; }
  .product-details .comments-header {
    border-bottom: 1px solid #efefef;
    font-style: italic;
    padding: 5px; }
    .product-details .comments-header .left {
      float: left;
      height: 40px;
      line-height: 40px; }
    .product-details .comments-header .right {
      float: right;
      height: 40px;
      line-height: 40px; }
    .product-details .comments-header::after {
      clear: both;
      content: '';
      display: block;
      visibility: hidden; }
  .product-details #post-review-container {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    margin: 10px auto;
    max-width: 600px;
    padding: 20px;
    width: 100%; }
    .product-details #post-review-container label {
      display: block;
      float: left;
      height: 40px;
      line-height: 40px;
      margin: 0; }
    .product-details #post-review-container #post-review-warning {
      color: #c0392b;
      display: none;
      float: left;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      margin-left: 10px; }
    .product-details #post-review-container #post-review-rate {
      border-radius: 1px;
      display: block;
      float: left;
      height: 40px;
      width: 60px; }
    .product-details #post-review-container textarea {
      border-radius: 1px;
      margin-top: 10px;
      resize: vertical;
      width: 100%; }
  .product-details .reviews-text {
    font-weight: bold;
    text-align: center;
    width: 100%; }
  .product-details .reviews-wrapper {
    width: 100%; }

.app-forms {
  margin: 10px auto 0;
  max-width: 400px;
  padding: 10px; }
  .app-forms .form-group {
    margin-bottom: 30px; }
  .app-forms .warning {
    color: #c0392b;
    font-size: 14px;
    margin-top: 5px;
    position: absolute; }
  .app-forms .api-warning {
    color: #c0392b;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    margin-left: -150px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    width: 300px; }

.success-alert {
  color: #27ae60;
  margin-top: 50px; }

.loader {
  left: 50%;
  margin-left: -50px;
  margin-top: 50px;
  position: absolute;
  width: 100px; }

footer {
  margin: 100px auto 0; }

nav {
  border-radius: 1px;
  margin: 0 auto 20px;
  min-height: 60px; }
  nav .nav-buttons {
    float: left; }
  nav .auth-buttons {
    float: right; }
    nav .auth-buttons .user-name {
      float: left;
      line-height: 40px;
      margin-top: 10px;
      padding-right: 10px; }

#logout {
  display: none;
  float: left; }
  #logout.user-logged-in {
    display: block; }

@media all and (max-width: 480px) {
  .product-details {
    display: block; }
    .product-details .title {
      width: 100%; }
    .product-details .description {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
