header {
  min-height: $header-height;
  margin: 0 auto;
  padding: $header-padding;
  border-bottom: $test-border;

  .header_text {
    float: left;
    line-height: $header-height - 2 * $header-padding;
  }
}