@import '../variables';

header {
  border-bottom: $test-border;
  margin: 0 auto;
  min-height: $header-height;
  padding: $header-padding;

  .header-text {
    float: left;
    line-height: $header-height - 2 * $header-padding;
  }
}
