@import '../variables';

nav {
  border-radius: 1px;
  margin: 0 auto 20px;
  min-height: $nav-height;
  //border: $test_border;

  .nav-buttons {
    float: left;
  }

  .auth-buttons {
    float: right;
  }

  #logout {
    display: none;
  }
}
