@import '../variables';

nav {
  border-radius: 1px;
  margin: 0 auto 20px;
  min-height: $nav-height;
  //border: $test_border;

  .nav-buttons {
    float: left;
  }

  .auth-buttons {
    float: right;

    .user-name {
      float: left;
      line-height: $buttons-height;
      margin-top: $nav-padding;
      padding-right: $nav-padding;
    }
  }
}

#logout {
  display: none;
  float: left;

  &.user-logged-in {
    display: block;
  }
}
