section#content {
  min-height: $section_min_height;
  margin: $section_margin auto;

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .product{
      width: $product_width;
      height: $product_height;
      margin: $product_margin;
      border: $test_border;
      cursor: pointer;

      img {
        margin: $product_margin auto;
        height: $product_height - $product_title_height;
      }

      .product_title {
        position: absolute;
        width: $product_width;
        height: $product_title_height - 2 * $product_margin;
        line-height: $product_title_height - 2 * $product_margin;
        text-align: center;
      }

      &:hover {
        background: #efefef;
      }

    } //.product


  } //products

  #product_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //border-top: $test_border;

    .title {
      width: 50%;
      //border-right: $test_border;


      img {
        margin: 0 auto;
      }
    } //.title

    .description {
      width: 50%;
      padding: $product_description_padding;
    } //.desription

    #comments {
      width: 100%;
      //border-top: $test_border;
      //margin-top: $comment_margin;

      .list-group-item {
        max-width: $max_comments_width;
        margin: $comment_margin auto;
        border-radius: $border_radius;
      }

      .comments_header{

        padding: $comment_margin / 2;
        border-bottom: $test_border;

        div {
          height: $comment_height;
          line-height: $comment_height;

          &.left {
            float: left;
          }
          &.right {
            float: right;
          }
        }


        &:after {
          content: "";
          display: block;
          clear: both;
          visibility: hidden;
        }

      } //.comments_header
      .comment {
        word-wrap: break-word;

        p {
          margin: 0;
          padding-top: $comment_padding_top;
        }
      }
    }//#comments

    #post_review_container {
      width: 100%;
      max-width: $max_comments_width;
      padding: 2 * $comment_padding_top;
      margin: $comment_margin auto;
      border-top: $test_border;
      border-bottom: $test_border;

      label {
        height: $rate_height;
        line-height: $rate_height;
        display: block;
        float: left;
        margin: 0;
      }

      #post_review_warning {
        height: $rate_height;
        line-height: $rate_height;
        font-size: $warning_font_size;
        display: none;
        float: left;
        margin-left: $comment_margin;
        color: $alert;
      }

      #post_review_rate {
        width: $rate_width;
        height: $rate_height;
        display: block;
        float: left;
        border-radius: $border_radius;
      }

      textarea {
        width: 100%;
        resize: vertical;
        margin-top: $comment_margin;
        border-radius:  $border_radius;
      }
    }

    .comments_text {
      width: 100%;
      font-weight: bold;
      text-align: center;
    }

    #comments_wrapper {
      width: 100%;
    }

  }//#product_details

  .app_forms {
    margin: $forms_margin auto 0;
    max-width: $forms_width;
    padding: $forms_margin;

    .warning {
      position: absolute;
      display: none;
      width: $warning_width;
      left: 50%;
      margin-left: - $warning_width / 2;
      height: $warning_height;
      line-height: $warning_height;
      font-size: $warning_font_size;
      color: $alert;
    }
    .input_warning {
      border-color: $alert;
    }
    button {
      margin-top: $warning_height;
    }
  } //.app_forms


  .loader {
    display: none;
    position: absolute;
    left: 50%;
    width: $loader_width;
    margin-top: $loader_padding;
    margin-left: - $loader_height/2;
  }//#loader

}// section#content

