@import '../variables';

#content {
  margin: $section-margin auto;
  min-height: $section-min-height;

}// section#content

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .error {
    color: $alert;
  }

  .product {
    border: $test-border;
    cursor: pointer;
    height: $product-height;
    margin: $product-margin;
    width: $product-width;

    img {
      height: $product-height - $product-title-height;
      margin: $product-margin auto;
    }

    .product-title {
      height: $product-title-height - 2 * $product-margin;
      line-height: $product-title-height - 2 * $product-margin;
      position: absolute;
      text-align: center;
      width: $product-width;
    }

    &:hover {
      background: $product-hover-color;
    }

  } //.product


} //products

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //border-top: $test_border;

  .title {
    width: 50%;
    //border-right: $test_border;

    img {
      margin: 0 auto;
    }
  } //.title

  .description {
    padding: $product-description-padding;
    width: 50%;
  } //.description

  .comments {
    width: 100%;
    //border-top: $test_border;
    //margin-top: $comment_margin;

    .list-group-item {
      border-radius: $border-radius;
      margin: $comment-margin auto;
      max-width: $max-comments-width;
    }

    .comments_header{
      border-bottom: $test-border;
      padding: $comment-margin / 2;

      div {
        height: $comment-height;
        line-height: $comment-height;

        &.left {
          float: left;
        }
        &.right {
          float: right;
        }
      }


      &:after {
        clear: both;
        content: '';
        display: block;
        visibility: hidden;
      }

    } //.comments_header
    .comment {
      word-wrap: break-word;

      p {
        margin: 0;
        padding-top: $comment-padding-top;
      }
    }
  }//#comments

  #post_review_container {
    border-bottom: $test-border;
    border-top: $test-border;
    margin: $comment-margin auto;
    max-width: $max-comments-width;
    padding: 2 * $comment-padding-top;
    width: 100%;

    label {
      display: block;
      float: left;
      height: $rate-height;
      line-height: $rate-height;
      margin: 0;
    }

    #post_review_warning {
      color: $alert;
      display: none;
      float: left;
      font-size: $warning-font-size;
      height: $rate-height;
      line-height: $rate-height;
      margin-left: $comment-margin;
    }

    #post_review_rate {
      border-radius: $border-radius;
      display: block;
      float: left;
      height: $rate-height;
      width: $rate-width;
    }

    textarea {
      border-radius: $border-radius;
      margin-top: $comment-margin;
      resize: vertical;
      width: 100%;
    }
  }

  .comments_text {
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  #comments_wrapper {
    width: 100%;
  }

}//#product_details

.app-forms {
  margin: $forms-margin auto 0;
  max-width: $forms-width;
  padding: $forms-margin;

  .form-group {
    margin-bottom: 30px;
  }

  .warning {
    color: $alert;
    font-size: $warning-font-size;
    margin-top: 5px;
    position: absolute;
  }

  .api-warning {
    color: $alert;
    font-size: $warning-font-size;
    font-weight: bold;
    left: 50%;
    margin-left: - $product-width / 2;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    width: $product-width;
  }

} //.app-forms

.success-alert {
  color: $success;
  margin-top: 50px;

}

.loader {
  display: none;
  left: 50%;
  margin-left: - $loader-height / 2;
  margin-top: $loader-padding;
  position: absolute;
  width: $loader-width;
} //#loader
