@import '../variables';

#content {
  margin: $section-margin auto;
  min-height: $section-min-height;

}// section#content

.error {
  color: $alert;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .product {
    border: $test-border;
    color: inherit;
    cursor: pointer;
    height: $product-height;
    margin: $product-margin;
    width: $product-width;

    img {
      height: $product-height - $product-title-height;
      margin: $product-margin auto;
    }

    .product-title {
      height: $product-title-height - 2 * $product-margin;
      line-height: $product-title-height - 2 * $product-margin;
      position: absolute;
      text-align: center;
      width: $product-width;
    }

    &:hover {
      background: $product-hover-color;
    }

  } //.product


} //products

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .title {
    width: 50%;

    img {
      margin: 0 auto;
    }
  } //.title

  .description {
    padding: $product-description-padding;
    width: 50%;
  } //.description

  .reviews-container {
    margin: 0 auto;
    max-width: $max-comments-width;
  } //.reviews-container

  .review {
    margin-top: $comment-margin;
    width: 100%;

    .list-group-item {
      border-radius: $border-radius;
      margin: $comment-margin auto;
      max-width: $max-comments-width;
    }

    .text {
      margin: 0;
      padding: $comment-margin / 2;
      word-wrap: break-word;
    }

  }//.review

  .comments-header {
    border-bottom: $test-border;
    font-style: italic;
    padding: $comment-margin / 2;

    .left {
      float: left;
      height: $comment-height;
      line-height: $comment-height;
    }

    .right {
      float: right;
      height: $comment-height;
      line-height: $comment-height;
    }

    &::after {
      clear: both;
      content: '';
      display: block;
      visibility: hidden;
    }

  } //.comments-header

  .post-review-container {
    border-bottom: $test-border;
    border-top: $test-border;
    margin: $comment-margin auto;
    max-width: $max-comments-width;
    padding: 2 * $comment-padding-top;
    width: 100%;

    label {
      display: block;
      float: left;
      height: $rate-height;
      line-height: $rate-height;
      margin: 0;
    }

    input {
      cursor: pointer;
      height: $rate-height;
      line-height: $rate-height;
      margin: 0;
      width: $rate-height / 2;
    }

    .post-review-warning {
      color: $alert;
      display: none;
      float: left;
      font-size: $warning-font-size;
      height: $rate-height;
      line-height: $rate-height;
      margin-left: $comment-margin;
    }

    .post-review-rate {
      border-radius: $border-radius;
      display: block;
      float: left;
      font-weight: bold;
      height: $rate-height;
      line-height: $rate-height;
      margin-right: $rate-margin;
      min-width: $rate-width / 2;
    }

    textarea {
      border-radius: $border-radius;
      margin-top: $comment-margin;
      resize: vertical;
      width: 100%;
    }
  }

  .reviews-text {
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .reviews-wrapper {
    width: 100%;
  }

  .review-button {
    float: left;
  }

  .review-warning {
    color: $alert;
    float: left;
    font-size: $warning-font-size;
    font-weight: bold;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 10px;
  }

}//.product-details

.app-forms {
  margin: $forms-margin auto 0;
  max-width: $forms-width;
  padding: $forms-margin;

  .form-group {
    margin-bottom: 30px;
  }

  .warning {
    color: $alert;
    font-size: $warning-font-size;
    margin-top: 5px;
    position: absolute;
  }

  .api-warning {
    color: $alert;
    font-size: $warning-font-size;
    font-weight: bold;
    left: 50%;
    margin-left: - $product-width / 2;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    width: $product-width;
  }

} //.app-forms



.success-alert {
  color: $success;
  margin-top: 50px;

}

.loader {
  left: 50%;
  margin-left: - $loader-height / 2;
  margin-top: $loader-padding;
  position: absolute;
  width: $loader-width;
} //#loader
