<div data-ng-show="signUp.success.status" class="success-alert">
    <div data-ng-cloak class="text-center">
        <p>User <span class="bold">{{signUp.success.username}}</span> was successfully registered!</p>
        <br/>
        <p>You will be automatically redirected to login page within 3 seconds.</p>
    </div>
</div>
<div data-ng-show="!signUp.success.status">
    <h4 class="text-center">Fill this form to sign up:</h4>
    <div class="app-forms">
        <form name="signUpForm" novalidate>

            <div class="form-group" data-ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.username.$touched) && signUpForm.username.$error.required }">
                <label for="sighUpUsername" class="control-label">Username</label>
                <input type="text" class="form-control" id="sighUpUsername" name="username" placeholder="Your username" data-ng-model="newUser.name" required>
                <div data-ng-show="signUpForm.$submitted || signUpForm.username.$touched">
                    <div class="warning" data-ng-show="signUpForm.username.$error.required" >Username is required!</div>
                </div>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.password.$touched) && signUpForm.password.$error.required }">
                <label for="sighUpPassword" class="control-label">Password</label>
                <input type="password" class="form-control" id="sighUpPassword" name="password" placeholder="Your password" data-ng-model="newUser.password" required>
                <div data-ng-show="signUpForm.$submitted || signUpForm.password.$touched">
                    <div class="warning" data-ng-show="signUpForm.password.$error.required" >Password is required!</div>
                </div>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.passwordConfirm.$touched) && signUpForm.passwordConfirm.$error.errorCompareTo }">
                <label for="sighUpPasswordConfirm" class="control-label" >Confirm password</label>
                <input type="password" class="form-control" id="sighUpPasswordConfirm" name="passwordConfirm" placeholder="Confirm your password" data-ng-model="newUser.passwordConfirm" data-compare-to="newUser.password" >
                <div data-ng-show="signUpForm.$submitted || signUpForm.passwordConfirm.$touched">
                    <div class="warning" data-ng-show="signUpForm.passwordConfirm.$error.errorCompareTo" >Passwords don`t match!</div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button data-ng-disabled="signUpForm.$invalid" type="submit" class="btn btn-default" data-ng-click="signUp.submit(newUser)">Send</button>
                </div>
                <div data-ng-show="signUp.error.status">
                    <div class="api-warning" data-ng-cloak>{{signUp.error.message}}</div>
                </div>
            </div>

        </form>
    </div>
</div>
