<h4 class="text-center">Fill this form to sign up:</h4>
<div id="sign_up_form" class="app_forms">
    <form >
        <div class="form-group">
            <label for="sigh_up_username" class="control-label">Username</label>
            <input type="text" class="form-control" id="sigh_up_username" placeholder="Your username">
        </div>
        <div class="form-group">
            <label for="sigh_up_password" class="control-label">Password</label>
            <input type="password" class="form-control" id="sigh_up_password" placeholder="Your password">
        </div>
        <div class="form-group no_margin">
            <label for="sigh_up_password_confirm" class="control-label">Confirm password</label>
            <input type="password" class="form-control" id="sigh_up_password_confirm" placeholder="Confirm your password">
        </div>
        <div class="form-group">
            <div class="text-center">
                <div class="warning">ffff</div>
                <button type="submit" class="btn btn-default" id="sign_up_button">Send</button>
            </div>
        </div>
    </form>
</div>