<h4 class="text-center">Fill this form to sign up:</h4>
<div id="sign_up_form" class="app_forms">
    <form name="sign_up_form" novalidate>
        <div class="form-group" data-ng-class="{ 'has-error': (sign_up_form.$submitted || sign_up_form.username.$touched) && sign_up_form.username.$error.required }">
            <label for="sigh_up_username" class="control-label">Username</label>
            <input type="text" class="form-control" id="sigh_up_username" name="username" placeholder="Your username" data-ng-model="newUser.name" required>
            <div data-ng-show="sign_up_form.$submitted || sign_up_form.username.$touched">
                <div class="warning" data-ng-show="sign_up_form.username.$error.required" >Username is required!</div>
            </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (sign_up_form.$submitted || sign_up_form.password.$touched) && sign_up_form.password.$error.required }">
            <label for="sigh_up_password" class="control-label">Password</label>
            <input type="password" class="form-control" id="sigh_up_password" name="password" placeholder="Your password" data-ng-model="newUser.password" required>
            <div data-ng-show="sign_up_form.$submitted || sign_up_form.password.$touched">
                <div class="warning" data-ng-show="sign_up_form.password.$error.required" >Password is required!</div>
            </div>
        </div>
        <div class="form-group no_margin">
            <label for="sigh_up_password_confirm" class="control-label">Confirm password</label>
            <input type="password" class="form-control" id="sigh_up_password_confirm" placeholder="Confirm your password" data-ng-model="newUser.passwordConfirm">
        </div>
        <div class="form-group">
            <div class="text-center">
                <button data-ng-disabled="sign_up_form.$invalid" type="submit" class="btn btn-default" id="sign_up_button" data-ng-click="submit(newUser)">Send</button>
            </div>
        </div>
    </form>
</div>