<div class="error" data-ng-show="!!error.status">
    <h4 class="text-center">{{error.message}}</h4>
</div>
<div class="product-details" data-ng-show="!error.status">
    <div class="title">
        <h3 class="text-center" data-ng-cloak>{{product.title}}</h3>
        <img src="images/{{product.img}}" alt="">
    </div>
    <div class="description">
        <h4 class="text-center">Technical specifications</h4>
        <div class="text-left">
            {{product.text}}
        </div>
    </div>
    <div class="reviews-wrapper">
        <div class="post-review-container">
            <form name="reviewForm">
                <div class="post-review-rate">
                    Rate:
                </div>
                <label>
                    <input data-ng-model="review.rate" name="rate" type="radio" data-ng-value="1" required>
                    <input data-ng-model="review.rate" name="rate" type="radio" data-ng-value="2" required>
                    <input data-ng-model="review.rate" name="rate" type="radio" data-ng-value="3" required>
                    <input data-ng-model="review.rate" name="rate" type="radio" data-ng-value="4" required>
                    <input data-ng-model="review.rate" name="rate" type="radio" data-ng-value="5" required>
                </label>
                <div class="post-review-rate text-center" data-ng-cloak>
                    {{review.rate}}
                </div>
                <div class="post-review-warning">
                    Comment is empty!
                </div>
                <div class="clear"></div>
                <label for="post-review-text"></label>
                <textarea name="reviewText"
                          class="form-control"
                          rows="3" id="post-review-text"
                          placeholder="Your review..."
                          data-ng-model="review.text"
                          required
                ></textarea>
                <button class="btn btn-default review-button" data-ng-disabled="reviewForm.$invalid" type="submit"
                        data-ng-click="newReview.submit(review)">
                    Send
                </button>
                <div class="review-warning" data-ng-show="newReview.error.status">
                    <div  data-ng-cloak>{{newReview.error.message}}</div>
                </div>
                <div class="clear"></div>
            </form>

        </div>
        <div class="reviews-container" data-ng-show="reviews">
            <p class="reviews-text">Reviews:</p>
            <div class="review list-group-item" data-ng-repeat="review in reviews | orderBy:'review.created_at':true">
                <div class="comments-header">
                    <div class="left" data-ng-cloak>
                        <span class="bold">{{review.created_by.username}}</span> at
                        {{review.created_at | date:'h:mm, MMM d y '}}
                    </div>
                    <div class="right" data-ng-cloak>
                        Rate: {{review.rate}}
                    </div>
                </div>
                <div class="text" data-ng-cloak>
                    {{review.text}}
                </div>

            </div>
        </div>

    </div>
</div>
