<h4 class="text-center">Please enter you login and password:</h4>
<div id="login_form" class="app_forms">
    <form class="">
        <div class="form-group">
            <label for="login_username" class="control-label">Username</label>
            <input type="email" class="form-control" id="login_username" placeholder="Your username">
        </div>
        <div class="form-group no_margin">
            <label for="login_password" class="control-label">Password</label>
            <input type="password" class="form-control" id="login_password" placeholder="Your password">
        </div>
        <div class="form-group text-center">
            <div class="warning"></div>
            <button type="submit" class="btn btn-default" id="login_button">Ok</button>
            <div class="clear"></div>
        </div>
    </form>
</div>